header {
height:120px;
border-style:solid;
text-align:center;
margin-bottom:10px;
}

section {
border-style:solid;
width:66%;
float:left;
height:600px;
}

.lorem {
color:red;
font-style:italic;
font-family:garamond;
font-size: large;
}

aside {
border-style:solid;
width:33%;
float:right;
height:600px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}